@model IEnumerable<WebApplication1.Models.Good>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 ">

                    <h2 > <i class="fas fa-comment-dollar text-success"></i> ادارة <b>المنتجات</b></h2>
                </div>
                <div class="col-sm-6 ">
                    <p class="btn-group">
                        <a asp-action="Create" data-toggle="model" class="btn btn-success text-white"><i class="fas fa-random"></i> اضافة منتج جديد   </a>
                    </p>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Idtg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpireDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Images)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Idoffers)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idtg)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpireDate)
                        </td>
                        <td>
                            <img src="@("~/Image/"+item.Images)" asp-append-version="true" width="50" height="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idoffers)
                        </td>
                        <td>

                            <a asp-action="Delete" class="delete" asp-route-id="@item.Id" data-toggle="model">  <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
@section scripts{
    <script type="text/javascript">
                // ------ for search
                $(document).ready(function () {
                    $('#myTable').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    });
                });

                     
    </script>
}
